<h1>Update {{crew_member.fname}} {{crew_member.lname}}:</h1>
<form id="update-person" action="/people" method="post">
    First name: <input type="text" name="fname" value="{{crew_member.fname}}"><br>
    Last name: <input type="text" name="lname" value="{{crew_member.lname}}"><br>
    Homeworld: <select name="homeworld" id="planet-selector"> 
        {{#each crewbase}}
        <option value="{{id}}">{{city}}</option>
        {{/each}}
    </select><br>
    Age: <input type="number" name="age" value="{{crew_member.role}}"><br>
</form>
<button onclick="updatePerson({{crew_member.id}})">Update</button>
<script defer>selectCrewBase({{crew_member.crewbase}});</script>